<h1>About Wasabi</h1>
<p>Experience Japanese cuisine in a unique, traditional atmosphere.
Our dining room can accommodate your small groups or large parties comfortably, extending to the outdoor patio during the hot summer months.
We offer an extensive array of authentic Japanese dishes from signature rolls and sushi to a variety of cooked dishes from our kitchen.
Located in the heart of the Byward Market in downtown Ottawa, we are steps away from the National Art Gallery, Museum of Civilization, the Parliament Buildings, Majors Hill Park, the United States Embassy, National Arts Centre, Fairmont Chateau Laurier and Westin Hotels.</p>
