<h1>Contact Information</h1>
<p>Reservations recommended
For large parties or special events, please contact us</p>
<ul>
	<li>Email:	eat@wasabisushibar.ca </li>
	<li>Phone:	(613) 241-3636</li>
	<li>Fax:	(613) 241-9938</li>
	<li>Gift Certificates Available</li>
</ul>

<p>Get on our mailing list. 
Be the first to hear about our specials and events!</p>
