<h1>Wasabi Japanese Restaurant &amp; Sushi Bar</h1>
<p>WELCOME TO WASABI...</p>

<%= link_to 'About us', restaurants_about_path %>

<ul class="mainpics">
	<li class="pictcha">
		<img src="http://correresmidestino.com/wp-content/uploads/2011/11/Left.jpg" />
	</li>
	<li class="pictcha">
		<img src="http://www.ottawafood.com/1131-image_main.jpg" />
	</li>
	<li class="pictcha">
		<img src="http://www.wasabisushibar.ca/images/dining_top.jpg" />
	</li>
	<li class="pictcha">
		<img src="http://a3.urbancdn.com/w/s/n0/qOI0yYSDCbzHVF-640m.jpg" />
	</li>
	<li class="pictcha">
		<img src="http://correresmidestino.com/wp-content/uploads/2011/11/Left.jpg" />
	</li>
	<li class="pictcha">
		<img src="http://www.ottawafood.com/1131-image_main.jpg" />
	</li>
	<li class="pictcha">
		<img src="http://www.wasabisushibar.ca/images/dining_top.jpg" />
	</li>
	<li class="pictcha">
		<img src="http://a3.urbancdn.com/w/s/n0/qOI0yYSDCbzHVF-640m.jpg" />
	</li>
</ul>
